.banner{
	width: auto;
	height: 20%;
	bottom: 20px;
}

.content{
	 border-radius: 10px;
	 text-align: justify;
}

.news{
	background-color: #DEE0E3;
	border-radius: 10px;
    height: 58px;
}

.summary{
	margin-left: 30px;
	width: 25.3%;
	height: 50%;
	border-radius: 10px;	
}

.related-sites{
		width: 50%;
		height: auto;
}

#input_searchDataset {
    border-radius: 10px;
    background-image: url('/css/searchicon.png'); /* Add a search icon to input */
    background-position: 10px 12px; /* Position the search icon */
    background-repeat: no-repeat; /* Do not repeat the icon image */
    width: 100%; /* Full-width */
    font-size: 16px; /* Increase font-size */
    padding: 12px 20px 12px 40px; /* Add some padding */
    border: 1px solid #ddd; /* Add a grey border */
    margin-bottom: 12px; /* Add some space below the input */
}

#input_searchDataset:focus{
    outline: none;
}

#ul_searchDataset {
    /* Remove default list styling */
    list-style-type: none;
    padding: 0;
    margin: 0;
}

#ul_searchDataset li a {
    border: 1px solid #ddd; /* Add a border to all links */
    margin-top: -1px; /* Prevent double borders */
    background-color: #f6f6f6; /* Grey background color */
    padding: 12px; /* Add some padding */
    text-decoration: none; /* Remove default text underline */
    font-size: 16px; /* Increase the font-size */
    color: black; /* Add a black text color */
    display: block; /* Make it into a block element to fill the whole list */
}

#ul_searchDataset li a.header {
    background-color: #e2e2e2; /* Add a darker background color for headers */
    cursor: default; /* Change cursor style */
}

#ul_searchDataset li a:hover:not(.header) {
    background-color: #eee; /* Add a hover effect to all links, except for headers */
}