.banner{
	width: auto;
	height: 20%;
	bottom: 20px;
}

.content{
	 border-radius: 10px;
	 text-align: justify;
}

.news{
	background-color: #DEE0E3;
	border-radius: 10px;
}

.summary{
	margin-left: 30px;
	width: 25.3%;
	height: 50%;
	border-radius: 10px;	
}

.related-sites{
		width: 50%;
		height: auto;
}


